.footer {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: midnightblue;
    bottom: 0;
    z-index: 99;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: firebrick;
    color: aliceblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__optionLineOne {
    font-size: 10px;

}
.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    
}

.header__optioncart {
    display: flex;
    align-items: center;
    color: white;
    margin-top: 3px;
}

.header__cartCount {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
}

.header_nav {
    display: flex;
    justify-content: space;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.text-link {
    text-decoration: none !important;
} */