.header {
    height: 112px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    background-color: #ec5b49;
    background: linear-gradient(#ec5b49, #f63);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
}
.header__topBar {
    display: flex ;
    z-index: 400;
    height: 2.125rem;
    color: aliceblue;
}

.h-TopBar-App {
    margin: 4px;
    font-size: small;
}
.h-TopBar-text {    
    margin: 4px;
    font-size: small;
}
.h-Topbar-Socials svg {
    margin-top: 5px;
    font-size: medium;
    color: aliceblue;
}

.header__withSearch {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

.header__categories {
    display: flex;
    width: 100%;
    margin-left: 8px;
}
.h-categories {
    color: aliceblue;
    margin-left: 4px;
    margin-right: 4px;
    font-size: small;
}
.h-categories svg {
    color: aliceblue;
    height: 20px;
}

.header__nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 24px;
}

.header img {
    margin-top: 12px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 112px;
    margin-left: 8px;
    margin-right: auto;
    padding-right: 1.5rem;
}

.header-search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 75%;
}

.header__search {
    display: flex;
    flex: 1;
    border-radius: 24px;                  
}

.header__searchInput {
    height: 12px;
    padding: 12px;
    border: none;
    width: 100%;
    margin-left: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.header__searchIcon {
    padding: 7px;
    height: 20px !important;
    background-color: #87201b;
    color: aliceblue;
    border: 1px solid;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    text-wrap: nowrap;
}

.header__optionLineOne {
    font-size: 10px;

}
.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;    
}

.header__optioncart {
    display: flex;
    align-items: center;
    color: white;
}

.header__cartCount {
    margin-left: 8px;
    margin-right: 8px;
}



.text-link {
    text-decoration: none !important;
}























.footer {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: midnightblue;
    bottom: 0;
    z-index: 99;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: bottom;
}